page-login {
  background: $c-white;
  ion-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: transparent;
  }
  ion-card.card {
    width: 100%;
    height: percentage(150/735);
    margin: 0;
    position: relative;
    background: $c-light-blue;
    box-shadow: none;
    border-radius: 0;
  }
  .content-login {
    min-height: percentage(585/735);
    padding: 80px 50px;
    background: $c-sky;
  }
  ion-list.list {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0;
  }
  ion-item.item.item-block {
    padding: 0 0 0 30px;
    margin-bottom: 20px;
    background: $c-sky;
    border-top: 0!important;
    border-bottom: 1px solid $c-blue-border;
    &:last-child {
      border-bottom: 1px solid $c-blue-border!important;
    }
    .item-inner {
      border: 0;
    }
  }
  .text-input {
    font-size: 15px;
    color: $c-blue;
  }
  ion-icon {
    color: $c-blue;
  }
  .content-process {
    margin-top: 10px;
    position: relative;
    .sub-content {
      margin-top: 45px;
    }
    .sub-title {
      margin-bottom: 20px;
      color: $c-blue;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
    }

    .process-col {
      width: 2px;
      height: 100%;
      background-color: $c-grey;
      position: absolute;
      left: 4px;
      top: 20px;
      z-index: 3;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        left: -4px;
        border-radius: 50%;
        border: 1px solid $c-grey;
        background-color: $c-sky;
      }
      &:before {
        top: 0;
      }
      &.process-col-extra {
        &:after {
          content: '';
          width: 2px;
          height: 18px;
          position: absolute;
          top: 0;
          background-color: $c-green;
        }
      }
      &.process-col-active {
        background-color: $c-green;
        &:before {
          background-color: $c-green;
        }
      }
      &.process-col-2 {
        top: 0;
        &.process-col-last {
          height: calc(100% - 20px);
        }
        &:before {
          top: 18px;
        }
      }
    }
    ion-item.item.item-block {
     padding-bottom: 45px;
      margin-bottom: 0;
      position: relative;
      border-bottom: 0!important;
      &:last-child {
        padding-bottom: 0;
      }
      .item-inner {
        margin: 0;
        padding: 0;
      }
      ion-label {
        margin: 0;
        white-space: normal;
      }
      button {
        width: 100%;
        padding: 20px 25px;
        margin: 0;
        font-size: 14px;
        text-align: right;
        box-sizing: border-box;
        border-radius: 4px;
        .button-inner {
          justify-content: flex-start;
          text-transform: capitalize;
        }
      }
    }
  }
  .take-photo {
    display: flex;
    justify-content: space-between;
  }
  .photo-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    position: relative;
    background-color: $c-light-blue;
    border-radius: 50%;
    ion-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      color: $c-blue;
      font-size: 35px;
    }
  }

  .photo-description {
    .sub-title {
      margin-bottom: 0;
    }
  }
  .login-complete {
    .content-process {
      min-height: calc(100vh - 450px);
      ion-item.item.item-block {
        padding-bottom: 70px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  ion-footer {
    .toolbar-background {
      background-color: $c-light-blue;
      border-width: 0!important;
    }
    background-color: $c-light-blue;
    ion-title, .toolbar-title {
        color: $c-blue;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
    }
  }
}

.no-active {
  display: none !important;
}
