page-dlsclaimer {
    .scroll-content {
      padding: 35px;
      background-color: $c-sky;
    }
    .sub-title-custom {
      margin-top: 0;
      margin-bottom: 20px;
      color: $c-blue;
    }
    .p-custom {
      color: $c-blue;
      margin-bottom: 25px;
    }
  }
  