//variables
$c-white: #ffffff;
$c-light-blue: #bce0fd;
$c-light-blue2: #c5dff4;
$c-blue: #2699fb;
$c-sky: #e0fffb;
$c-light-sky: #E8FCFF;
$c-blue-border: #c7eafb;
$c-grey: #999999;
$c-grey-p : #777777;
$c-grey-p-large: #606569;
$c-grey-border: #e0dcdc;
$c-grey-border2: #707070;
$c-green: #2e9f55;
$c-green2: #1ac30c;
$c-black: #111;
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

ion-header {
  ion-navbar.toolbar {
    min-height: 61px;
    .back-button {
      color: $c-white;
      background-color: transparent;
      ion-icon {
        &:before {
          content: "\f27d"!important;
        }
      }
      .back-button-text {
        display: none;
      }
    }
  }
}
.toolbar-background {
  background-color: $c-blue;
  &.toolbar-background-ios {
    background-color: $c-blue;
  }
}

.toolbar-title {
  color: $c-white;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.2px;
  &.toolbar-title-ios {
    color: $c-white;
  }
}

ion-footer {
  ion-toolbar {
    min-height: 55px!important;
  }
  .toolbar-background {
    background-color: $c-light-blue;
    border-width: 0 !important;
    &.toolbar-background-ios {
      background-color: $c-light-blue;
    }
  }

  .toolbar-title {
    color: $c-blue;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    &.toolbar-title-ios {
      color: $c-blue;
    }
  }
}

.button-arrow-back {
  display: inline-block;
  background-color: $c-blue;
  box-shadow: none;
  ion-icon {
    font-size: 35px;
    font-weight: 700;
    color: $c-white;
    &:before {
      content: "\f27d"!important;
    }
  }
}
.check-list-headline {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.check-list-description {
  font-size: 13px;
}

.no-active {
  display: none !important;
}

.sub-title-custom {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.p-custom {
  font-size: 13px;
  line-height: 2;
}

.p-large {
  font-size: 15px;
}

.p-small {
  font-size: 13px;
}

.error-text{
  color: red;
}

.required:after {
  content: "*";
  color: red;
  margin-left: 3px;
  font-size: 15px;
  height: 15px;
  display: inline-block;
}