<ion-header>
  <ion-navbar>
    <ion-title  >
     {{chart?.ProgramName}} round {{chart?.NumberOfProgramStages}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="circle-progress">
    
  <div  class="circle-message"*ngIf="!chartWeight.target.weight"> You are first time user, please go to Setting to add a new round of losing weight! </div>
    <div class="circle-progress-detail circle-progress-left">
      <p class="p-large">Start</p>
      <p class="p-small">{{chartWeight.start.weight}}kg</p>
      <p class="p-small">BMI: {{chartWeight.start.bmi}}</p>
      <p class="p-small">{{chartWeight.start.date}}</p>
    </div>
    <div class="circle-progress-detail circle-progress-center">
      <div class="circle-progress-current">
        <div class="p-large">Current</div>
        <div class="current-weight"  *ngIf="yourWeight.current"><span class="info-weight">{{yourWeight.current}}</span>kg</div>
        <div class="current-status">
          <span class="square-status square-green"></span>
          <span class="square-status square-green"></span>
          <span class="square-status square-green"></span>
          <span class="square-status square-green"></span>
        </div>
      </div>
      <round-progress 
              [current]="chartWeight.round.current"
              [max]="chartWeight.round.max"
              [color]=" '#8bff8f'"
              [background]="'#2699fb'"
              [stroke]="20"
              [radius]="78"
              [rounded]="true"
              [clockwise]="true"
              [responsive]="false"
              [duration]="800"
              [animation]="'easeInOutQuart'"
              [animationDelay]="0">
      </round-progress>
    </div>
    <div class="circle-progress-detail circle-progress-right">
      <p class="p-large">Target</p>
      <p class="p-small">{{chartWeight.target.weight}}kg</p>
      <p class="p-small">{{chartWeight.target.status}}</p>
      <p class="p-small">{{chartWeight.target.date}}</p>
    </div>
  </div>
  <div class="lost-weight-progress">
    <div class="lost-weight-col">
      <div class="p-small">You lost</div>
      <div class="sub-title-p">{{yourWeight.lost}}kg</div>
    </div>
    <div class="lost-weight-col">
      <button (click)="showPrompt()">Enter Weight</button>
      <button (click)="testMessageModule()">Test Message module</button>
    </div>
    <div class="lost-weight-col">
      <div class="p-small">Weight Remaining</div>
      <div class="sub-title-p">{{yourWeight.remaining}}kg</div>
    </div>
  </div>
  <div class="box-chart">
    <div id="chart-compare">
      <chart style="height: 250px;width: 100%" *ngIf="options" [options]="options"></chart>
    </div>
  </div>
</ion-content>
